<div class="container-sm">
    <div class="card mb-3">
        <img src="assets/img/1-6.jpg" class="img-fluid" alt="{{getVoitureById().nom}}">
        <div class="card-body">
            <div ng-repeat="c in coms">
                <div class="card shadow p-3 mb-1">
                    <h6 class="card-title"><small class="text-muted">{{c.date | date:"dd/MM/yyyy 'à' h:mm:ss"}}</small> {{c.id_usr}}</h6>
                    <p class="card-text">{{c.value}}</p>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card-text">
                <div class="row">
                    <div class="col">
                        <input class="input-group" type="text" ng-model="newCom" placeholder="Ajouter un nouveau commentaire">
                    </div>
                    <div class="col-1">
                        <button class="button btn-primary" type="submit" ng-click="comment()"><i class="fa fa-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>